<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Bichof</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Lato&amp;family=Source+Sans+Pro:wght@400;600;700;900&amp;display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600&family=Inter:wght@400;500&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="/js/utils.js"></script>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <div class="root-container">
        <div class="sidebar">
            <div class="title">
                <p alt="tilte">
                    Page
                </p>
            </div>
            <nav class="nav">
                <ul class="list-navbar">
                    <li class="nav-item">
                        <a class="nav-link" href="/">home.html</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">projects.css</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">about.js</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="box">
                <div class="hi">Hello! I'm</div>
                <h1 class="name">
                    Daniel Bichof
                </h1>
                <div class="content">
                    I am a backend developer
                </div>
            </div>
        </div>
    </div>
</body>

</html>