<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Bichof</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Lato&amp;family=Source+Sans+Pro:wght@400;600;700;900&amp;display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600&family=Inter:wght@400;500&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="/js/utils.js"></script>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/commons.css">

</head>

<body>
    <div class="root-container">
        <div class="loader"></div>

        <div class="sidebar">
            <div class="title-bar">
                <p alt="tilte">

                </p>
            </div>
            <nav class="nav">
                <ul class="list-sidebar">

                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="about">
                <h3 class="title">
                    About Me
                </h3>
                <p>
                    Hello, world!
                    I'm a young enthusiastic about tech and hacking, with a passion for technology and science. I like
                    create projects using C/C++, Python, Java and JS and have developed
                    websites and testing tools that you can find on my GitHub. Vulnerability exploration is a particular
                    interest of mine.

                </p>
                <h2 class="title">Sobre mim - PT-BR</h2>
                <p>

                    Eu sou um jovem apaixonado por tecnologia e ciência. Crio projetos utilizando C, Python e JS e
                    desenvolvo sites e
                    ferramentas de teste de segurança, as quais você pode encontrar no meu GitHub. A exploração de
                    vulnerabilidades é um dos
                    meus principais interesse
                </p>
                <h2 class="title">Alguns links</h2>
                <p>
                    <a href="https://www.linkedin.com/in/daniel-bichof/">LinkedIn</a><br>
                    <a href="https://github.com/DanielBichof">GitHub</a><br>
                </p>
            </div>
        </div>
    </div>
</body>

</html>