<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daniel Bichof</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Lato&amp;family=Source+Sans+Pro:wght@400;600;700;900&amp;display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600&family=Inter:wght@400;500&display=swap"
    rel="stylesheet">
  <script type="text/javascript" src="/js/utils.js"></script>

  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/commons.css">

</head>

<body>
  <div class="root-container">
    <div class="loader"></div>

    <div class="sidebar">
      <div class="title-bar">
        <p alt="tilte">

        </p>
      </div>
      <nav class="nav">
        <ul class="list-sidebar">

        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="about">
        <h3 class="title">
          FiscalTech <span class="text">- Fiscal Tecnologia e automação</span>
        </h3>
        <p>
          Desenvolvimento back-end, code-review e testes de software, utilizando conhecimentos em:<br>
          - Java 8 EE<br>
          - Git e SVN<br>
          - Shell Scripting<br>
          - Sistemas Operacionais Linux (maior familiaridade com baseados em Debian) e Windows<br>
          - JavaScript, HTML, CSS e Bootstrap<br>
          - C++, cross compilation para embarcados<br>
          Desenvolvendo habilidade em análise, POO, padrões de projeto, Clean Code, trabalho em equipe presencial e
          remota, Scrum,
          Kanban e metodologias ágeis.<br>
        </p>
      </div>
    </div>
  </div>
</body>

</html>