.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg);
  transition: opacity 1s, visibility 1s ;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 1px solid #1d251f;
  border-top-color: rgb(61, 106, 120);
  border-radius: 50%;
  box-shadow: #333654 0px -1px 10px;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

a {
  color: var(--white-text);
  text-decoration: none;
  transition: color 0.4s;
}

.footer {
  padding-bottom: 1rem;
  text-align: center;
  border-top: 1px solid var(--main-border-color);
}

.about,
.xp {
  padding: 4rem 5rem;
  max-width: 64rem;
}

.title {
  margin: 0.4rem 0;
  padding: 2rem 0 1rem;
  color: var(--white-text);
  font-size: 1.8rem;
  font-weight: 500;
}

.text {
  color: var(--text);
  font-size: 1.4rem;
}
