body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root-container {
  background: var(--main-bg);
  border-right: 1px solid #222;
  height: 100vh;
  display: flex;
  justify-self: center;
}

.sidebar {
  background: var(--sidebar-bg);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  min-width: 14em;
  max-width: 20rem;
}

.title p {
  color: var(--sidebar-title);
  font-family: "Source Sans Pro", "Microsoft Yahei", "Fira Code", monospace;
  font-size: 3.2rem;
  font-weight: 900;
  padding: 0 1rem;
}

.list-navbar {
}

.list-navbar {
  font-size: larger;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  inline-size: none;
  color: inherit;
}

.list-navbar a {
  font-family: monospace;
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--links);
}

.list-navbar {
  padding: 0;
  /* display: flex;
  align-items: center; */
}
.list-navbar li {
  margin: 0;
  padding: 0 0.8rem;
  list-style-type: none;
}

.nav-item a:hover {
  color: var(--links-active);
}

.container {
  width: 100%;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container .name {
  text-transform: capitalize;
}

.name {
  font-family: "Fira Code", monospace;
  font-size: 30px;
}

.content {
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  color: var(--dark-green-text);
}

.box {
  color: var(--white-text);
}

.list-navbar,
.nav-item {
  margin: 0;
}
.nav {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0;
}

.active {
  background-color: rgba(130, 145, 140, 0.199);
}

.active a {
  color: var(--links-active);
}
