.sidebar {
  background: var(--sidebar-bg);
  display: flex;
  /* justify-content: center; */
  align-items: center;

  flex-direction: column;
  width: 18em;
  padding: 2rem 0;
}

.title-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-bar p {
  color: var(--sidebar-title);
  font-family: "Source Sans Pro", "Microsoft Yahei", "Fira Code", monospace;
  font-size: 3.2rem;
  font-weight: 900;
  padding: 0 1rem 1rem;
}

.list-sidebar {
}

.list-sidebar {
  font-size: larger;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  inline-size: none;
  color: inherit;
}

.sidebar-item a {
  font-family: monospace;
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--links);
}

.list-sidebar {
  padding: 0;
  /* display: flex;
  align-items: center; */
}

.sidebar-item {
  margin: 0;
  list-style-type: none;
  padding: 0.5rem 1rem;
}

.sidebar-item a:hover {
  color: var(--links-active);
}

.list-sidebar,
.sidebar-item {
  margin: 0;
}
.nav {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0;
}

.active {
  background-color: rgba(130, 140, 145, 0.199);
}

.active a {
  color: var(--links-active);
}
